.question {
	background-color: var(--light-background-color);
	border-radius: 8px;
	box-shadow: 0 2px 12px rgba(255, 174, 174, 0.04);
	padding: 24px;

	& + .question {
		margin-top: 8px;
	}

	&.highlighted {
		background-color: #f4f0ff;
		border: 1px solid var(--primary-color);

		footer .user-info span {
			color: var(--default-text-color);
		}
	}

	&.answered {
		background-color: #dbdcdd;
	}

	p {
		color: var(--default-text-color);
	}

	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 24px;

		.user-info {
			display: flex;
			align-items: center;

			img {
				width: 32px;
				height: 32px;
				border-radius: 50%;
			}

			span {
				margin-left: 8px;
				color: var(--light-text-color);
				font-size: 14px;
			}
		}

		> div {
			display: flex;
			gap: 16px;
		}

		button {
			border: 0;
			background: transparent;
			cursor: pointer;
			transition: filter 0.2s;

			&.like-button {
				display: flex;
				align-items: flex-end;
				color: var(--light-text-color);
				gap: 8px;

				&.liked {
					color: var(--primary-color);

					svg path {
						stroke: var(--primary-color);
					}
				}
			}

			&:hover {
				filter: brightness(0.7);
			}
		}
	}
}
